<div id="content">
	<div id="map">
	</div>
	
	<div class="mapa_text">
		<p>Donde nos encontramos?</p>
		<h2>C/ Pius XII, 44, 4, 15</h2>
		<h2>46870 Valencia</h2>
	</div>
	
	<div class="page">
		<p class="route"><strong>Home</strong> / Contact</p>
		<h1>Contacta con nosotros</h1>
		<div class="left">
			<form>
				<div>
					<p>Nombre:</p>
					<input type="text" name="nombre"/>
				</div>
	
				<div>
					<p>Apellidos:</p> 
					<input type="text" name="apellidos"/>
				</div>

				<div>
					<p>Correo de contacto:</p>
					<input type="email" name="correo"/>
				</div>
	
				<div>
					<p>Posicion:</p> 
					<select type="text" name="clientes">
						<option value="particular">Particular</option>
						<option value="empresa">Empresa</option>
					</select>
				</div>
	
				<div>
					<p>Sexo:</p> 
					<div class="radio_linea">
						<div class="radio">
							<input type="radio" name="sexo" value="h">
							<p>Hombre</p>
						</div>
						<div class="radio">
							<input type="radio" name="sexo" value="m">
							<p>Mujer</p>
						</div>
						<div class="radio">
							<input type="radio" name="sexo" value="o">
							<p>Otro</p>
						</div>
					</div>
				</div>
				<div>
					<p>Asunto:</p>
					<input type="text" name="asunto"/>
				</div>
	
				<div>
					<p>Mensaje:</p>
					<textarea type="text" name="mensaje" rows="15">
					</textarea>
				</div>
	
				<div class="buttons">
					<div id="send" class="button send">Enviar</div>
					<div class="button reset">Borrar</div>
				</div>
			</form>
		</div>
	</div>
</div>