<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Carrito de la compra | Productos de hostelería</title>

<div class="page">
    <div class="content_cart">
        <div class="products">
            <p class="route"><strong>Home</strong> / Cart</p>
            <h1 class="title">Articulos pendientes de pago</h1>
            <table style="width:100%">
            </table>
        </div>
        <div class="total">
            <div class="total_finish">
                <p class="units"></p>
                <p></p>
            </div>
            <div id="finish_cart" class="cart_button">Realizar perdido</div>
        </div>
    </div>
</div>

<div class="pop">
    <div class="pop_page">
    </div>
</div>