<div id="content">
	<div id="homepage_slider">
		<div class="button1 button">
			<i class="fas fa-chevron-left"></i>
		</div>
		<div class="text">
			<h2></h2>
			<p></p>
		</div>
		<div class="button2 button">
			<i class="fas fa-chevron-right"></i>
		</div>
	</div>

	<div class="page">
		<div class="all_subcategories information">
			<h2>SUBCATEGORIAS MÁS <strong>BUSCADAS</strong></h2>
			<div class="subcategorias contenedores">
			</div>
		</div>

		<div class="all_products information">
			<h2>ARTICULOS <strong>DESTACADOS</strong></h2>
			<div class="products contenedores">
			</div>
		</div>

		<div class="all_products information">
			<h2>LIBROS <strong>DE HOSTELERIA</strong></h2>
			<div class="apis contenedores">
			</div>
		</div>
	</div>
</div>