<title>Usuario error | Productos de hostelería</title>

<div style="width: 100% !important;" class="page">
    <div class="transparencia">
        <div style="display:flex !important;" class="box_check">
            <h1>Se ha cerrado tu sesión por seguridad, pulsa para identificarte</h1>
            <div>
                <div id="login" class="add_button login">Iniciar sesión</div>
                <div id="home" class="add_button home">Volver a la pagina principal</div>
            </div>
        </div>
    </div>
</div>