<title>Restablecer | Productos de hostelería</title>

<div style="width: 100% !important;" class="page">
    <div class="transparencia">
        <div id="login_box" class="box">
            <h1>NETECO  -  Escribe la contraseña</h1>
            <hr>
            <div method="post" class="inputs">
                <label for="password">Nueva contraseña*:</label>
                <input name="password" type="password" placeholder="*******" value="">
                <span id="error_password" class="error"></span>

                <label for="password2">Repite contraseña*:</label>
                <input name="password2" type="password" placeholder="*******" value="">
                <span id="error_password2" class="error"></span>
                <span id="succes_password2" class="succes"></span>

                <input id="restart_button" class="add_button" name="login" type="button" value="Cambiar contraseña">
            </div>
        </div>
    </div>
</div>