<div id="content">
    <div class="page">
        <p class="route"><strong>Home</strong> / Products</p>
        <h1 class="title"></h1>

        <div class="content">
            <div class="filter">
                <h3>CATÁLOGO</h3>
            </div>

            <div class="products_container">
                <div class="info">
                    <p class="text"></p>
                    <strong></strong>
                </div>
                <div class="products">

                </div>
                <div class="pagination_css">
                    <div class="pages"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="page_details">
        <div class="title">
            <p class="route"><strong>Home</strong> / Products</p>
        </div>
        <div class="details">
        </div>
        <div class="suggestions">
            <h2>ALGUNOS PRODUCTOS DE LA MISMA <strong>CATEGORIA</strong></h2>
            <div class="subcategorias principal">
            </div>
        </div>
        <div class="suggestions">
            <h2>LIBROS <strong>DE HOSTELERIA</strong></h2>
            <div class="apis principal">
            </div>
        </div>
    </div>
</div>